{% extends 'main/base.html' %}
{% block content %} {% load static %}
<!--    breadcrumb-->
<section class="row header-breadcrumb">
    <div class="bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
        <img src="{% static 'main/image/baner-slider/title-bg-06.jpg' %}" alt="">
    </div>
    <div class="container">
        <div class="row m0 page-cover">
            <h2 class="page-cover-tittle">About Us</h2>
        </div>
    </div>
</section>

<!--Offcanvas Menu-->
<div class="offcanvas_closer"></div>
<div class="offcanvas-menu">
    <a href="#" class="close-offcanvas"><i class="icon_close"></i></a>
    <ul class="nav menu" id="offcanvas-inner-menu">
        <li><a href="#">Landing</a></li>
        <li><a href="#l">Agency</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Apptastic</a></li>
        <li><a href="#">Classic</a></li>
        <li><a href="#">Bold Move</a></li>
        <li><a href="#">Start-up</a></li>
        <li><a href="#">Simple</a></li>
        <li><a href="#">Magazine</a></li>
        <li><a href="#">Modernak</a></li>
    </ul>
    <div class="offc-lik">
        <a href="#">info@uplift.com</a>
        <a href="#">+44 (0) 800 123 4567 </a>
        <a href="#">No.1 Abbey Road </a>
        <a href="#">London, W1 ECH, UK</a>
    </div>
    <a href="#" class="offc-b">contact us</a>
    <a href="#" class="offc-b">About us</a>
    <ul class="icon">
        <li><a href="#"><i class="fa fa-500px" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-btc" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-drupal" aria-hidden="true"></i></a></li>
    </ul>
</div>
<!--    managment-support-->
<section class="managment-support-area sectpad recent-pr-two">
    <div class="container">
        <div class="row about_us_two">
            <div class="col-md-6 display-flex">
                <div class="about_content-two text-left flex">
                    <h2>We Provides Best Advice For Your Business</h2>
                    <p>Ziteso provides information, analytical tools, and data to organizations and individuals that
                        help them to make financial decisions and to manage the risk. Our mission is to help
                        organizations to make their business more profitable. We provide opportunities to business
                        owners to gain knowledge about managing and protecting their business information and make the
                        most beneficial financial and purchasing decisions.</p>
                </div>
            </div>
            <div class="col-md-6 display-flex">
                <div class="about_content-two text-left flex">
                    <h2>Data</h2>
                    <p>We have top-class data in terms of quality and quantity. We regularly update our data to provide
                        our clients true insights into the industry.</p>
                    <a href="#" class="theme_btn">Apply Now</a>
                </div>
            </div>
            <div class="col-md-6 display-flex">
                <div class="about_content-two text-left flex">
                    <h2>Technology and innovation</h2>
                    <p>Technology is like the blood of our organization. It helps to run and manage all of our
                        operations. Without innovation, no business can survive; we invest in our employees to get
                        innovative solutions for possible challenges.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--    about-us-->
<section class="about-us-area sectpad">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 about-content">
                <h3>About Us</h3>
                <p>A business with a great credit report will be a definite factor that potential buyers take into
                    consideration. Another situation is when you want to expand the business. An investor will come in
                    to support your business only after confirming and determining that your business has a good credit
                    report..</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}