<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Monte</title>
    <!--    favicon-->
    <link rel="shortcut icon" href="{% static 'main/image/favicon.png">
    <!--    font-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic,700italic,400italic,300,300italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">

    <!-- Font awesome css -->
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">

    <!-- elegant-ico- css -->
    <link rel="stylesheet" href="{% static 'main/vendors/elegant-icon/style.css' %}">

    <!--    popup-->
    <link rel="stylesheet" href="{% static 'main/vendors/magnific/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'main/vendors/loader/animsition.min.css' %}">

    <!--    owl-carousel-->
    <link rel="stylesheet" href="{% static 'main/vendors/owlcarousel/owl.carousel.css' %}">

    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <!--    responsive css-->
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">

</head>

<body>
    <div class="layout animsition">
        <!--Offcanvas Menu-->
        <div class="offcanvas_closer"></div>
        <div class="offcanvas-menu">
            <a href="#" class="close-offcanvas"><i class="icon_close"></i></a>
            <ul class="nav menu" id="offcanvas-inner-menu">
                <li><a href="#">Landing</a></li>
                <li><a href="#l">Agency</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Apptastic</a></li>
                <li><a href="#">Classic</a></li>
                <li><a href="#">Bold Move</a></li>
                <li><a href="#">Start-up</a></li>
                <li><a href="#">Simple</a></li>
                <li><a href="#">Magazine</a></li>
                <li><a href="#">Modernak</a></li>
            </ul>
            <div class="offc-lik">
                <a href="#">info@uplift.com</a>
                <a href="#">+44 (0) 800 123 4567 </a>
                <a href="#">No.1 Abbey Road </a>
                <a href="#">London, W1 ECH, UK</a>
            </div>
            <a href="#" class="offc-b">contact us</a>
            <a href="#" class="offc-b">About us</a>
            <ul class="icon">
                <li><a href="#"><i class="fa fa-500px" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-btc" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-drupal" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!--    header-->
        <header>
            <div class="header-top">
                <div class="container">
                    <ul class="nav navbar-left top-nav">
                        <li class="email"><a href="mailto:info@yoursite.com"><i class="fa fa-bolt" aria-hidden="true"></i>Have any questions?</a></li>
                        <li class="tel"><a href="#"><i class="fa fa-phone"></i> +21 383 866 246</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i>support@Blazethemez.com</a></li>

                    </ul>
                    <ul class="nav menu navbar-right top-nav nav-text">
                        <li class="inner dropdown"><a href="#" class="dropdown-toggle m_drop_down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Landing</a></li>
                                <li><a href="#">Agency</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Apptastic</a></li>
                                <li><a href="#">Classic</a></li>
                            </ul>
                        </li>
                        <li class="inner"><a href="#">Checkout</a></li>
                        <li class="inner"><a href="#">Cart</a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dropbox" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="social_instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--Navigation-->
            <nav class="navbar navbar-default menu-nav menu_three" id="main_navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="{% static 'main/image/logo.png" alt=""></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="main_nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu-left menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle m_drop_down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a href="creative-agency.html">Home V1</a></li>
                                    <li><a href="index.html">Home V2</a></li>
                                    <li><a href="index-2.html">Home V3</a></li>
                                    <li><a href="index-3.html">Home V4</a></li>
                                    <li><a href="index-video.html">Home V5</a></li>
                                    <li><a href="index-4.html">Home V6</a></li>
                                    <li><a href="index-agency.html">Home V7</a></li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle m_drop_down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a href="about-me.html">About Me</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="services-2.html">services 2</a></li>
                                    <li><a href="pricing-plans.html">Pricing Plans</a></li>
                                    <li><a href="contact.html">contact us</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle m_drop_down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle m_drop_down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio.html">Portfolio 1</a></li>
                                    <li><a href="portfolio-2.html">Portfolio 2</a></li>
                                    <li><a href="portfolio-3.html">Portfolio 3</a></li>
                                    <li><a href="project-details.html">portfolio details</a></li>
                                    <li><a href="project-details1.html">portfolio details 1</a></li>
                                    <li><a href="project-details2.html">portfolio details 2</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle m_drop_down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu">
                                    <li><a href="shop.html">shop</a></li>
                                    <li><a href="single-shop.html">single shop</a></li>
                                </ul>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features</a>
                                <ul class="dropdown-menu mega-drop">
                                    <li>
                                        <span><i class="fa fa-stumbleupon" aria-hidden="true"></i>THEME FEATURES</span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Drag’n’Drop Page Builder</a></li>
                                            <li><a href="#">Extensive </a></li>
                                            <li><a href="#">Accelerated Performance</a></li>
                                            <li><a href="#">One-Click Demo Install<span class="label">New</span></a></li>
                                            <li><a href="#">3 Page Header Styles</a></li>
                                            <li><a href="#">9 Stunning Demos</a></li>
                                            <li><a href="#">Fully Responsive</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-rocket" aria-hidden="true"></i>THEME FEATURES</span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">42+ Pre-Built Pages</a></li>
                                            <li><a href="#">Cutting Edges Features</a></li>
                                            <li><a href="#">20+ Clean Standard Pages</a></li>
                                            <li><a href="#">100% Translatable + RTL</a></li>
                                            <li><a href="#">SVG Icons<span class="label1">New</span> </a></li>
                                            <li><a href="#">Midnight Header<span class="label2">New</span> </a></li>
                                            <li><a href="#">6+ Creative Menu Types</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-paw" aria-hidden="true"></i>THEME FEATURES</span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">14 Portfolio Styles</a></li>
                                            <li><a href="#">10 Blog Styles</a></li>
                                            <li><a href="#">Slide Out & Overlay Menu</a></li>
                                            <li><a href="#">3 Product Post Styles<span class="label">New</span></a></li>
                                            <li><a href="#">3 Shop Styles</a></li>
                                            <li><a href="#">SEO Optimised</a></li>
                                            <li><a href="#">Ajax Team Slides</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a href="#" class="dropdown-toggle m_drop_down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elements</a>
                                <ul class="dropdown-menu mega-drop element-info">
                                    <li>
                                        <span></span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">No coding/design required</a></li>
                                            <li><a href="#">Drag’n’Drop Page Builder</a></li>
                                            <li><a href="#">Extensive </a></li>
                                            <li><a href="#">One-Click Demo Install</a></li>
                                            <li><a href="#">3 Page Header Styles</a></li>
                                            <li><a href="#">3 Page Header Styles</a></li>
                                            <li><a href="#">9 Stunning Demos</a></li>
                                            <li><a href="#">Fully Responsive</a></li>
                                            <li><a href="#">Theme Options</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span></span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">10 Header Styles (∞ combos)</a></li>
                                            <li><a href="#">42+ Pre-Built Pages</a></li>
                                            <li><a href="#">Cutting Edges Features</a></li>
                                            <li><a href="#">20+ Clean Standard Pages</a></li>
                                            <li><a href="#">100% Translatable + RTL</a></li>
                                            <li><a href="#">SVG Icons</a></li>
                                            <li><a href="#">Midnight Header</a></li>
                                            <li><a href="#">6+ Creative Menu Types</a></li>
                                            <li><a href="#">animations</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span></span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">14 Portfolio Style</a></li>
                                            <li><a href="#">10 Blog Styles</a></li>
                                            <li><a href="#">Slide Out & Overlay Menu</a></li>
                                            <li><a href="#">3 Product Post Styles</a></li>
                                            <li><a href="#">3 Shop Styles</a></li>
                                            <li><a href="#">SEO Optimised</a></li>
                                            <li><a href="#">Ajax Team Slides</a></li>
                                            <li><a href="#">Child Theme Provided</a></li>
                                            <li><a href="#">Overlay Menu</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span></span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">590 Nucleo Icons</a></li>
                                            <li><a href="#">600+ Font</a></li>
                                            <li><a href="#">700+ Free Google Fonts</a></li>
                                            <li><a href="#">Custom Font Integration</a></li>
                                            <li><a href="#">3 Push Navigation Types</a></li>
                                            <li><a href="#">Unlimited Colours</a></li>
                                            <li><a href="#">16 PSDs Included</a></li>
                                            <li><a href="#">Smart Sidebar</a></li>
                                            <li><a href="#">Awesome Icons</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right menu">
                            <li class="search_dropdown hidden-xs"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <ul class="search">
                                    <li>
                                        <form action="#" method="get" class="search-form">
                                            <div class="input-group">
                                                <input type="search" class="form-control" placeholder="Search for">
                                                <span class="input-group-addon">
                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="search_dropdown hidden-xs">
                                <a class="cart-info" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <ul>
                                    <li>
                                        <div class="cart-box table-responsive">
                                            <div class="media alert" role="alert">
                                                <div class="media-left"><a href="single-product.html"><img src="{% static 'main/image/bag.png" alt=""></a></div>
                                                <div class="media-body">
                                                    <a href="single-product.html" class="this-title">Creative vcards</a>
                                                    <h5 class="price">1 x £5.99</h5>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="icon_close"></i></button>
                                                </div>
                                            </div>
                                            <div class="media alert" role="alert">
                                                <div class="media-left"><a href="single-product.html"><img src="{% static 'main/image/bag2.jpg' %}" alt=""></a></div>
                                                <div class="media-body">
                                                    <a href="single-product.html" class="this-title">Creative vcards</a>
                                                    <h5 class="price">1 x £5.99</h5>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="icon_close"></i></button>
                                                </div>
                                            </div>
                                            <div class="row m0 total-price-count">
                                                <h5>Subtotal: £38.00</h5>
                                            </div>
                                            <div class="row m0 action-btns">
                                                <a href="shop.html" class="btn cart-btn active">view cart</a>
                                                <a href="single-shop.html" class="btn checkout-btn">checkout</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EN</a>
                                <ul class="dropdown-menu country-n">
                                    <li><a href="#">EN</a></li>
                                    <li><a href="#">AR</a></li>
                                    <li><a href="#">GR</a></li>
                                </ul>
                            </li>
                            <li><a class="offcanvas-toggler hidden-xs" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!--    breadcrumb-->
        <section class="row header-breadcrumb parallax-effect">
            <div class="bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
                <img src="{% static 'main/image/new/Company-Website-slider2.jpg' %}" alt="">
            </div>
            <div class="container">
                <div class="row m0 page-cover">
                    <h2 class="page-cover-tittle">About Me</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>pages</li>
                        <li class="active">About Me</li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- skills-area -->
        <section class="row skills-area">
            <div class="container">
                <div class="row m0 section_header">
                    <h2>My Skills & Expertise</h2>
                    <span></span>
                </div>
                <p class="recent-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip .</p>
            </div>
            <div class="row skills">
                <div class="skills-left col-md-6 ">
                    <img src="{% static 'main/image/new/b14.jpg' %}" alt="">
                </div>
                <div class="skills-right col-md-6 col-sm-12">
                    <div class="skills-content">
                        <div class="row m0 section_header">
                            <h2>mohamed Aritrow</h2>
                            <span></span>
                        </div>
                        <p class="recent-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip .</p>
                        <ul>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Lorem ipsum dolor sit ametconse</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Lorem ipsum dolor sit ametconse</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Adipiscing elit, sed diam nonum</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Adipiscing elit, sed diam nonum</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Tincidunt ut laoreet dolore</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Tincidunt ut laoreet dolore</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Ut wisi enim ad minim veniam</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Ut wisi enim ad minim veniam</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Nostrud exerci tation </li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Nostrud exerci tation </li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Nisl ut aliquip ex ea commodo</li>
                            <li><i class="fa fa-info" aria-hidden="true"></i>Nisl ut aliquip ex ea commodo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--    skill-progress-area-->
        <section class="row skill-progress-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="progress-element">
                            <p>Deposit</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="count-tip"><span class="counter">75</span>%</span>
                                </div>
                            </div>
                            <p>Capitalization</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span class="count-tip"><span class="counter">88</span>%</span>
                                </div>
                            </div>
                            <p>Incom investment</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="count-tip"><span class="counter">40</span>%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress-element">
                            <p>Deposit</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="count-tip"><span class="counter">75</span>%</span>
                                </div>
                            </div>
                            <p>Capitalization</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span class="count-tip"><span class="counter">88</span>%</span>
                                </div>
                            </div>
                            <p>Incom investment</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="count-tip"><span class="counter">40</span>%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row video_single">
            <div class="row inner">
                <div class="video-content popup-gallery">
                    <h2>Watch This Video About How<br> Works BookMarks</h2>
                    <a class="video popup-youtube" href="#video"><img src="{% static 'main/image/play.png" alt=""></a>
                </div>
                <div class="videos zoom-anim-dialog mfp-hide">
                    <div id="video" class="video-inner">
                        <iframe src="https://www.youtube.com/embed/5_-NKRVn7IQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

            </div>

        </section>

        <!-- brand-logo -->
        <section class="row brands-area">
            <div class="container">
                <div class="brands-logos">
                    <div class="item">
                        <div class="logo">
                            <a href="#"><img src="{% static 'main/image/clients-logo/color1.png" alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo">
                            <a href="#"><img src="{% static 'main/image/clients-logo/color2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo">
                            <a href="#"><img src="{% static 'main/image/clients-logo/color3.png" alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo">
                            <a href="#"><img src="{% static 'main/image/clients-logo/color4.png" alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo">
                            <a href="#"><img src="{% static 'main/image/clients-logo/color5.png" alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo">
                            <a href="#"><img src="{% static 'main/image/clients-logo/color6.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Footer-->
        <footer class="row footer-area footer_area_two">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="widget single-ft-widget col-sm-6 col-lg-3">
                            <a href="index.html" class="brand_logo">
                                <img src="{% static 'main/image/logo2.png" alt="logo image">
                            </a>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <div class="location_address fleft">
                                        5109 Pacific Coast Highway
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <div class="location_address fleft">
                                        youremail@yourdomain.com
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <div class="location_address fleft">
                                        +88 (0) 202 0000 001
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-fax"></i>
                                    <div class="location_address fleft">
                                        +88 (0) 101 0000 000
                                    </div>
                                </li>
                            </ul>

                            <p>Lorem ipsum dolor sit amet, conse ctetuer piingerat volutpat Ut wisi enim ad minim venia m .</p>
                        </div>
                        <div class="widget latest-widget col-sm-6 col-lg-3">
                            <h4 class="widget_title">Latest news</h4>
                            <ul>
                                <li><a href="#">New News App Deliveres Fresh Ideas</a></li>
                                <li><a href="#">Dave Gardner</a></li>
                                <li><a href="#">Tech Conference 2015</a></li>
                                <li><a href="#">Interview With CEO Of Big Data</a></li>
                                <li><a href="#">New News App Deliveres </a></li>
                                <li><a href="#">Dave Gardner</a></li>
                            </ul>
                        </div>
                        <div class="widget blog-widget col-sm-6 col-lg-3">
                            <h4 class="widget_title">last blogs</h4>
                            <div class="media">
                                <div class="media-left">
                                    <div class="f-image">
                                        <img src="{% static 'main/image/footer/1.jpg' %}" alt="">
                                    </div>

                                </div>
                                <div class="media-body">
                                    <h3>New News App Deliv Eres Fresh Ideas</h3>
                                    <a href="#">WebSite</a> , <a href="#">Logos</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <div class="f-image">
                                        <img src="{% static 'main/image/footer/2.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>New News App Deliv Eres Fresh Ideas</h3>
                                    <a href="#">WebSite , Logos</a>
                                </div>
                            </div>
                        </div>
                        <div class="widget contact-from-widget col-sm-6 col-lg-3">
                            <h4 class="widget_title">contact us</h4>
                            <div class="widget-contact-list row m0">
                                <form class="submet-form row m0" action="#" method="post">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                    <textarea class="form-control message" placeholder="Your Message"></textarea>
                                    <button class="submit btn-h" type="submit">send</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m0 footer-bottom">
                <div class="container">
                    <div class="scroll-t"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
                    <div class="row">
                        <div class="col-sm-8">
                            Copyright &copy; 2019 <br class="visible-xs"> Theme by <a href="#">Blazethemez</a>
                        </div>
                        <div class="right col-sm-4">
                            <ul class="nav icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-vine"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- jQuery Latest version -->
    <script src="{% static 'main/js/jquery-2.2.0.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'main/vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Isotop JS -->
    <script src="{% static 'main/vendors/isotope/isotope.min.js' %}"></script>

    <!--    magnific JS-->
    <script src="{% static 'main/vendors/magnific/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'main/js/stellar.js' %}"></script>

    <!--    owl-JS-->
    <script src="{% static 'main/vendors/owlcarousel/owl.carousel.min.js' %}"></script>

    <!--    counter-up-JS-->
    <script src="{% static 'main/vendors/countdown/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/vendors/waypoint/waypoints.min.js' %}"></script>
    <script src="{% static 'main/vendors/swipper/js/swiper.min.js' %}"></script>
    <!-- RS5.0 Core JS Files -->
    <script src="{% static 'main/vendors/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script src="{% static 'main/vendors/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!--RS5.0 Extensions-->
    <script src="{% static 'main/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'main/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'main/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'main/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'main/vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'main/vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'main/vendors/video/plyr.js' %}"></script>
    <script src="{% static 'main/js/wow.min.js' %}"></script>
    <script src="{% static 'main/vendors/loader/animsition.min.js' %}"></script>

    <!-- jQuery custom script -->
    <script src="{% static 'main/js/custom.js' %}"></script>
</body>

</html>