{% extends 'main/base.html' %}
{% block content %} {% load static %}
<section class="main_slider_area">
  <div id="business_slider" class="rev_slider" data-version="5.4.1">
    <ul>
      <li data-index="rs-1595" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
        data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
        data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
        data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4=""
        data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <img src="{% static 'main/image/baner/man.jpg' %}" data-bgposition="center center" data-bgfit="cover"
          data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina alt="">

        <div class="slider_text_box">
          <div class="tp-caption b_first_text" data-width="['none', 'none', 'none', '700', '300']" data-height="none"
            data-whitespace="['nowrap', 'nowrap', 'nowrap','normal']" data-x="['left','left','left','left','center']"
            data-y="['middle']" data-voffset="['-110','-110','-110','-110','-110']" data-hoffset="['0','0','0','0','0']"
            data-fontsize="['50','50','50','40','25']" data-lineheight="['68','62','62','45','35']"
            data-transform_idle="o:1;"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
            data-start="1000" data-splitin="chars" data-splitout="none"
            data-textAlign="['left','left','left','left','center']" data-responsive_offset="on"
            style="z-index: 5;font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: 'Poppins', sans-serif; color:#fff;">
            Providing High-Quality Business Credit Building Solutions
          </div>
          <div class="tp-caption b_secand_text" data-x="['left']" data-y="['middle']"
            data-voffset="['30','30','30','20','10']" data-hoffset="['0','0','0','0','0', '0', '0']"
            data-fontsize="['16','16','16','16','14']" data-lineheight="['30','30','30','30','25']"
            data-width="['570', '570', '570', '500', '300']" data-height="none"
            data-whitespace="['normal', 'normal', 'normal', 'normal','normal']" data-transform_idle="o:1;"
            data-frames="[{&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1800,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;}]"
            data-start="1000" data-splitout="none" data-responsive_offset="on"
            data-textAlign="['left','left','left','left','center']" data-elementdelay="0.05"
            style="z-index: 5;font-weight: 400; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: 'Poppins', sans-serif; color:#fff;">
            If you want to have a successful and growing business enterprise, one of the essential things is you have a
            credit report that is creditworthy. Here are the motives why you should have a strong credit report for your
            business.
          </div>
          <div class="tp-caption b_btn_text" data-x="['left','left','left','left','center']" data-y="['middle']"
            data-voffset="['140','140','140','130','120']" data-hoffset="['0','0','0','0','0','0','0']"
            data-fontsize="['20','20','20','20','20']" data-lineheight="['35','35','35','35','35']"
            data-width="['none', 'none', 'none', 'none', 'none']" data-height="none"
            data-whitespace="['nowrap', 'nowrap', 'nowrap', 'nowrap', 'nowrap', 'normal', 'normal']"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2200,"to":"o:1;","delay":1000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1200,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
            data-start="500" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"><a
              class="read_m_btn" href="#">more About</a>
          </div>
        </div>
      </li>
      <li data-index="rs-1596" data-transition="fadetotopfadefrombottom" data-slotamount="default"
        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
        data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
        data-title="Parallax" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <img src="{% static 'main/image/baner/man.jpg' %}" data-bgposition="center center" data-bgfit="cover"
          data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina alt="">
        <div class="slider_text_box">
          <div class="tp-caption   tp-resizeme" id="slide-66-layer-2" data-x="['center','center','center','center']"
            data-hoffset="['1','1','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['-70','-70','-100','-100']" data-fontsize="['45','45','45','40','30']"
            data-lineheight="['90','90','60','60','45']" data-width="['none','none','650','450','300']"
            data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 5;font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: 'Poppins', sans-serif; color:#fff;">
            A Team of Experts Working for You</div>

          <div class="tp-caption   tp-resizeme" id="slide-66-layer-3" data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['30','30','30','20','0']" data-fontsize="['25','25','25','20','18']"
            data-lineheight="['35','35','35','30']" data-width="['480','480','480','360','320']" data-height="none"
            data-whitespace="normal" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
            style="z-index: 20; min-width: 480px; max-width: 480px; white-space: normal; font-size: 25px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:'Poppins', sans-serif; color:#fff;">
            Discover our Business credit score management service. </div>
          <a class="tp-caption rev-btn  tp-resizeme" href="#" target="_blank" id="slide-66-layer-7"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','130','100']"
            data-width="250" data-height="none" data-whitespace="nowrap" data-type="button" data-actions=''
            data-responsive_offset="on"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
            data-paddingright="[50,50,50,50]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[50,50,50,50]"
            style="z-index: 21; min-width: 250px; max-width: 250px; white-space: nowrap; font-size: 18px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px;font-family:'Poppins', sans-serif;background-color:rgb(87,202,133);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Learn
            More</a>
        </div>
      </li>
      <li data-index="rs-1597" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
        data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
        data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
        data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4=""
        data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

        <img src="{% static 'main/image/baner-slider/title-bg-06.jpg' %}" data-bgposition="center center"
          data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina alt="">

        <div class="slider_text_box">
          <div class="tp-caption b_first_text" data-width="['none', 'none', 'none', '700', '300']" data-height="none"
            data-whitespace="['nowrap', 'nowrap', 'nowrap','normal']" data-x="['left','left','left','left','center']"
            data-y="['middle']" data-voffset="['-110','-110','-110','-110','-110']" data-hoffset="['0','0','0','0','0']"
            data-fontsize="['50','50','50','40','25']" data-lineheight="['68','62','62','45','35']"
            data-transform_idle="o:1;"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
            data-start="1000" data-splitin="chars" data-splitout="none"
            data-textAlign="['left','left','left','left','center']" data-responsive_offset="on"
            style="z-index: 5;font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: 'Poppins', sans-serif; color:#fff;">
            Providing High-Quality <br>Business Solutions
          </div>
          <div class="tp-caption b_secand_text" data-x="['left']" data-y="['middle']"
            data-voffset="['30','30','30','20','10']" data-hoffset="['0','0','0','0','0', '0', '0']"
            data-fontsize="['16','16','16','16','14']" data-lineheight="['30','30','30','30','25']"
            data-width="['570', '570', '570', '500', '300']" data-height="none"
            data-whitespace="['normal', 'normal', 'normal', 'normal','normal']" data-transform_idle="o:1;"
            data-frames="[{&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1800,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;}]"
            data-start="1000" data-splitout="none" data-responsive_offset="on"
            data-textAlign="['left','left','left','left','center']" data-elementdelay="0.05"
            style="z-index: 5;font-weight: 400; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: 'Poppins', sans-serif; color:#fff;">
            We are one of the world’s leading business consulting companies, which combines classic
            management consulting with outstanding technological expertise and innovations in marketing and
            promotion.
          </div>
          <div class="tp-caption b_btn_text" data-x="['left','left','left','left','center']" data-y="['middle']"
            data-voffset="['140','140','140','130','120']" data-hoffset="['0','0','0','0','0','0','0']"
            data-fontsize="['20','20','20','20','20']" data-lineheight="['35','35','35','35','35']"
            data-width="['none', 'none', 'none', 'none', 'none']" data-height="none"
            data-whitespace="['nowrap', 'nowrap', 'nowrap', 'nowrap', 'nowrap', 'normal', 'normal']"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2200,"to":"o:1;","delay":1000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1200,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
            data-start="500" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"><a
              class="read_m_btn" href="#">more About</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--================End Awesome Slider Area =================-->
<!--Offcanvas Menu-->
<div class="offcanvas_closer"></div>
<div class="offcanvas-menu">
  <a href="#" class="close-offcanvas"><i class="icon_close"></i></a>
  <ul class="nav menu" id="offcanvas-inner-menu">
    <li><a href="#">Landing</a></li>
    <li><a href="#l">Agency</a></li>
    <li><a href="#">Shop</a></li>
    <li><a href="#">Apptastic</a></li>
    <li><a href="#">Classic</a></li>
    <li><a href="#">Bold Move</a></li>
    <li><a href="#">Start-up</a></li>
    <li><a href="#">Simple</a></li>
    <li><a href="#">Magazine</a></li>
    <li><a href="#">Modernak</a></li>
  </ul>
  <div class="offc-lik">
    <a href="#">info@uplift.com</a>
    <a href="#">+44 (0) 800 123 4567 </a>
    <a href="#">No.1 Abbey Road </a>
    <a href="#">London, W1 ECH, UK</a>
  </div>
  <a href="#" class="offc-b">contact us</a>
  <a href="#" class="offc-b">About us</a>
  <ul class="icon">
    <li><a href="#"><i class="fa fa-500px" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-btc" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-drupal" aria-hidden="true"></i></a></li>
  </ul>
</div>
<!--    skill-progress-area-->
<div class="row">
  <div class="col-md-12">
    <div class="request_info text-center">
      <div class="section_title_three text-center">
        <h2>Get Your Business Credit Report Now</h2>
      </div>
      <form id="contactForm" class="rq-mailform group group-bottom">
        <div class="group-item form-wrap">
          <select class="form-input form-control" type="text" id="name" name="name" placeholder="State">
            <option value="">Alabama</option>
            <option value="">Alaska</option>
            <option value="">Arizona</option>
            <option value="">Arkansas</option>
            <option value="">California</option>
            <option value="">Colorado</option>
            <option value="">Connecticut</option>
            <option value="">Delaware</option>
            <option value="">Florida</option>
            <option value="">Georgia</option>
            <option value="">Hawaii</option>
            <option value="">Idaho</option>
            <option value="">IllinoisIndiana</option>
            <option value="">Iowa</option>
            <option value="">Kansas</option>
            <option value="">Kentucky</option>
            <option value="">Louisiana</option>
            <option value="">Maine</option>
            <option value="">Maryland</option>
            <option value="">Massachusetts</option>
            <option value="">Michigan</option>
            <option value="">Minnesota</option>
            <option value="">Mississippi</option>
            <option value="">Missouri</option>
            <option value="">MontanaNebraska</option>
            <option value="">Nevada</option>
            <option value="">New Hampshire</option>
            <option value="">New Jersey</option>
            <option value="">New Mexico</option>
            <option value="">New York</option>
            <option value="">North Carolina</option>
            <option value="">North Dakota</option>
            <option value="">Ohio</option>
            <option value="">Oklahoma</option>
            <option value="">Oregon</option>
            <option value="">PennsylvaniaRhode Island</option>
            <option value="">South Carolina</option>
            <option value="">South Dakota</option>
            <option value="">Tennessee</option>
            <option value="">Texas</option>
            <option value="">Utah</option>
            <option value="">Vermont</option>
            <option value="">Virginia</option>
            <option value="">Washington</option>
            <option value="">West Virginia</option>
            <option value="">Wisconsin</option>
            <option value="">Wyoming</option>
          </select>
        </div>
        <div class="group-item form-wrap">
          <input class="form-input form-control" type="text" id="email" name="email" placeholder="Company Name">
        </div>
        <div class="group-item form-wrap">
          <input class="form-input  form-control" type="text" name="phone" placeholder="City">
        </div>
        <div class="group-item group-item-sm">
          <button class="btn btn-block btn-white-outline" type="submit">Get Report Now</button>
        </div>
      </form>
      <div id="success">Your message succesfully sent!</div>
      <div id="error">Opps! There is something wrong. Please try again</div>
    </div>
  </div>
</div>

<!--    innuvation-key-area-->
<section class="price_area sectpad">
  <div class="container">
    <div class="row m0 section_header">
      <h2>Zetiso Pricing</h2>
      <span></span>
    </div>
    {% if not first %}
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="price-card">
          <h2>{{first.plan_name}}</h2>
          <p class="price"><span>{{first.price}}</span>/{{first.time}}</p>
          <ul class="pricing-offers">
            <li>Get 10 Business Reports</li>
            <li>Add 15 Business Tradelines</li>
            <li>This Plan Helps Grow Your Business Faster</li>
          </ul>
          {% if request.user.is_authenticated %}
          <a class="btn btn-inverse inner-b" onclick="Submit('{{first.id}}')">Buy Now</a>
          {% else %}
          <a class="btn btn-inverse inner-b" href="{% url 'register' first.id %}">Buy Now</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="price-card featured">
          <h2>{{second.plan_name}}</h2>
          <p class="price"><span>{{second.price}}</span>/ {{second.time}}</p>
          <ul class="pricing-offers">
            <li>Get 15 Business Reports</li>
            <li>Add Unlimited Business Tradelines For Your Business</li>
            <li>This Plan Helps To Qualify For Loans Faster</li>
          </ul>
          {% if request.user.is_authenticated %}
          <a class="btn btn-inverse inner-b" onclick="Submit('{{second.id}}')">Buy Now</a>
          {% else %}
          <a class="btn btn-inverse inner-b" href="{% url 'register' second.id %}">Buy Now</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="price-card">
          <h2>{{third.plan_name}}</h2>
          <p class="price"><span>{{third.price}}</span>/ {{third.time}}</p>
          <ul class="pricing-offers">
            <li>1 on 1 Help To Update & Grow Your Business Credit Fast</li>
            <li>We Add Unlimited Business Tradelines On Your Behalf</li>
            <li>This Is For Premium Business Owners That Want To Automate The Process Of Building Their Business Credit
            </li>
          </ul>
          {% if request.user.is_authenticated %}
          <a class="btn btn-inverse inner-b" onclick="Submit('{{third.id}}')">Buy Now</a>
          {% else %}
          <a class="btn btn-inverse inner-b" href="{% url 'register' third.id %}">Buy Now</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>
<script type="text/javascript">
  function Submit(plan_id) {
    fetch("/config/")
      .then((result) => { return result.json(); })
      .then((data) => {
        // Initialize Stripe.js
        const stripe = Stripe(data.publicKey);
        // Event handler
        fetch(`/create-checkout-session/${plan_id}/`)
          .then((result) => { return result.json(); })
          .then((data) => {
            console.log(data);
            // Redirect to Stripe Checkout
            return stripe.redirectToCheckout({ sessionId: data.sessionId })
          })
          .then((res) => {
          });
      });
  }
</script>
{% endblock content %}