{% extends 'main/base.html' %}
{% block content %} {% load static %}

<!--    breadcrumb-->
<section class="row header-breadcrumb parallax-effect">
    <div class="bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
        <img src="{% static 'main/image/baner-slider/title-bg-08.jpg' %}" alt="">
    </div>
    <div class="container">
        <div class="row m0 page-cover">
            <h2 class="page-cover-tittle">Our News</h2>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>pages</li>
                <li class="active">News</li>
            </ol>
        </div>
    </div>
</section>

<!--    blog-area-->
<section class="blog-area sectpad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8 blogs">
                <article class="items leading-0">
                    <div class="blog-image">
                        <a href="blog-details.html">
                            <img class="img-responsive" src="{% static 'main/image/blog/blog-1.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="blog-content">
                        <div class="media">
                            <div class="media-left">
                                <a class="post-date" href="#">23<span>oct</span></a>
                            </div>
                            <div class="media-body">
                                <h2><a href="blog-details.html">New News App Deliveres Fresh Ideas</a></h2>
                                <ul class="post-meta nav">
                                    <li><i class="fa fa-user"></i>By<a href="#">Admin</a></li>
                                    <li><i class="fa fa-link"></i><a href="#">In Innovation, Sustainable</a></li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i><a href="#">Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p>If you want to have a successful and growing business enterprise, one of the essential things
                            is you have a credit report that is creditworthy. Here are the motives why you should have a
                            strong credit report for your business.</p>
                        <div class="slide-Link">
                            <a class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </article>
                <article class="items">
                    <div class="blog-content bg-br">
                        <div class="media">
                            <div class="media-left">
                                <a class="post-date" href="#">29<span>oct</span></a>
                            </div>
                            <div class="media-body">
                                <h2><a href="blog-details.html">CEO Shares Tips On Managing Business</a></h2>
                                <ul class="post-meta nav">
                                    <li><i class="fa fa-user"></i>By <a href="#">Admin</a></li>
                                    <li><i class="fa fa-link"></i><a href="#">In Innovation, Sustainable</a></li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i><a href="#">Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="items leading-0">
                    <div class="blog-image sliders">
                        <div class="item">
                            <img src="{% static 'main/image/blog/blog-2.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'main/image/blog/blog-1.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'main/image/blog/blog-1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="media">
                            <div class="media-left">
                                <a class="post-date" href="#">23<span>oct</span></a>
                            </div>
                            <div class="media-body">
                                <h2><a href="blog-details.html">New News App Deliveres Fresh Ideas</a></h2>
                                <ul class="post-meta nav">
                                    <li><i class="fa fa-user"></i>By <a href="#">Admin</a></li>
                                    <li><i class="fa fa-link"></i><a href="#">In Innovation, Sustainable</a></li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i><a href="#">Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p>One of the most apparent options to get out of a financial crisis is applying for a loan from
                            a bank or trying alternative funding options. Unluckily, not every business that applies for
                            a loan is approved. Why? One of the determinants is that impact credit approval is the
                            information or absence of information in the company's credit report. Therefore, to get
                            quick loan approvals for your business, you must work and ensure that your business credit
                            report is well organized and positive. The more effective the report, the faster the loan
                            approval!</p>
                        <div class="slide-Link">
                            <a class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </article>
                <article class="items leading-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="vimeo-video" src="http://player.vimeo.com/video/83006493"></iframe>
                    </div>
                    <div class="blog-content">
                        <div class="media">
                            <div class="media-left">
                                <a class="post-date" href="#">23<span>oct</span></a>
                            </div>
                            <div class="media-body">
                                <h2><a href="blog-details.html">New News App Deliveres Fresh Ideas</a></h2>
                                <ul class="post-meta nav">
                                    <li><i class="fa fa-user"></i>By <a href="#">Admin</a></li>
                                    <li><i class="fa fa-link"></i><a href="#">In Innovation, Sustainable</a></li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i><a href="#">Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                            illum dolore eu feugiat nulla facilisis at vero eros ...</p>
                        <div class="slide-Link">
                            <a class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </article>
                <article class="items">
                    <div class="blog-content bg-br">
                        <div class="media">
                            <div class="media-left">
                                <a class="post-date" href="#">29<span>oct</span></a>
                            </div>
                            <div class="media-body">
                                <h2><a href="blog-details.html">New News App Deliveres Fresh Ideas</a></h2>
                                <ul class="post-meta nav">
                                    <li><i class="fa fa-user"></i>By <a href="#">Admin</a></li>
                                    <li><i class="fa fa-link"></i><a href="#">In Innovation, Sustainable</a></li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i><a href="#">Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                            illum dolore eu feugiat nulla facilisis at vero eros ...</p>
                        <div class="slide-Link">
                            <a class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </article>
                <div class="blog_pagination_area">
                    <div class="pull-left">
                        <nav aria-label="Page navigation" class="pagination_inner">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="dash"><a href="#">...</a></li>
                                <li><a href="#">24</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="pull-right">
                        <h5>Page 1 of 12</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 sidebar-section">
                <div class="row m0 s-widget widget-about">
                    <div class="row m0 section_header">
                        <h2>About Us</h2>
                        <span></span>
                    </div>
                    <img src="{% static 'main/image/blog/sidebar-img1.jpg' %}" alt="">
                    <p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonum-my nibh .</p>
                </div>
                <div class="row m0 s-widget widget-recent-n">
                    <div class="row m0 section_header">
                        <h2>Recent News</h2>
                        <span></span>
                    </div>
                    <div class="media re-info">
                        <div class="media-left">
                            <img src="{% static 'main/image/blog/rec-w-1.jpg' %}" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Our Effort Makes Brand Success</h4>
                            </a>
                            <a href="#">
                                <h5><i class="fa fa-user" aria-hidden="true"></i>Ricky</h5>
                            </a>
                            <a href="#">
                                <h5><i class="fa fa-eye" aria-hidden="true"></i>48 Views</h5>
                            </a>
                        </div>
                    </div>
                    <div class="media re-info">
                        <div class="media-left">
                            <img src="{% static 'main/image/blog/rec-w-2.jpg' %}" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Our Effort Makes Brand Success</h4>
                            </a>
                            <a href="#">
                                <h5><i class="fa fa-user" aria-hidden="true"></i>Ricky</h5>
                            </a>
                            <a href="#">
                                <h5><i class="fa fa-eye" aria-hidden="true"></i>48 Views</h5>
                            </a>
                        </div>
                    </div>
                    <div class="media re-info">
                        <div class="media-left">
                            <img src="{% static 'main/image/blog/rec-w-3.jpg' %}" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Our Effort Makes Brand Success</h4>
                            </a>
                            <a href="#">
                                <h5><i class="fa fa-user" aria-hidden="true"></i>Ricky</h5>
                            </a>
                            <a href="#">
                                <h5><i class="fa fa-eye" aria-hidden="true"></i>48 Views</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row m0 s-widget widget-contact">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                            <i class="fa fa-user"></i>
                        </div>
                        <button type="submit" class="btn btn-default">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}