{% extends 'main/base.html' %} {% load static %}
{% block content %}

<!--    breadcrumb-->
<section class="row header-breadcrumb">
  <div class="bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    <img src="{% static 'main/image/baner-slider/title-bg-01.jpg' %}" alt="">
  </div>
  <div class="container">
    <div class="row m0 page-cover">
      <h2 class="page-cover-tittle">Our Services</h2>
    </div>
  </div>
</section>

<!-- Start services-area -->
<section class="service_area_three sectpad">
  <div class="container">
    <div class="row">
      <div class="col-md-3 sr_sidebar">
        <div class="sr_sidebar_tab">
          <h2 class="sidebar_title">Our services</h2>
          <ul class="nav nav-tabs single-services-menu" role="tablist">
            <li><a href="services-style2.html">All Services</a></li>
            <li role="presentation">
              <a href="#serviceNo-1" aria-controls="serviceNo-1" role="tab" data-toggle="tab">Business
                Services</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content tab_service_content">
          <div role="tabpanel" class="tab-pane active" id="serviceNo-2">
            <div class="row service_tab_slider">
              <div class="col-md-6 display-flex">
                <div class="content flex">
                  <h2>Business Analysis</h2>
                  <p>Ziteso is offering businesses an easy and cost-effective approach to get instant business credit
                    reports online. Through business credit reports, you can make the most important financial decisions
                    for the development of your business.</p>
                </div>
              </div>
            </div>
            <div class="media key-features">
              <div class="media-body content">
                <h2 class="offer-title">
                  Reports Analysis</h2>
                <p>We always provide people a complete solution focused of any business.
                </p>
              </div>
            </div>
            <div class="media key-features">
              <div class="media-body content">
                <h2 class="offer-title">
                  Business Credit Subscription Plan</h2>
                <p>By subscribing to this plan, you will have unlimited access to a sole company report. This plan covers the following two aspects
                </p>
              </div>
            </div>
            <div class="media key-features">
              <div class="media-body content">
                <h2 class="offer-title">
                  Business Credit Monitoring</h2>
                <p>We constantly monitor company reports and alert the subscribers through emails if there is any change
                  in the business credit report. If any bank, supplier, or anyone else wants to review your business
                  credit report, you will get notified of this activity. Business credit monitoring enables you to find
                  out what factors are affecting your business.
                </p>
              </div>
            </div>
            <div class="media key-features">
              <div class="media-body content">
                <h2 class="offer-title">
                  Business Indentity Monitoring</h2>
                <p>This is our monitoring technology that keeps your business information and confidential data secure.
                  If anyone wants to misuse or want to steal your data, you will be automatically notified, and all data
                  is collected in real-time, which makes you ready to take quick action to protect your business.
                </p>
              </div>
            </div>
            <div class="media key-features">
              <div class="media-body content">
                <h2 class="offer-title">
                  Business Credit Score Plan</h2>
                <p>Through our business credit score plan, business credit professionals can get access to multiple
                  business credit reports and credit scores. This plan is helpful for business to save their money as
                  they don’t need to pay each time for purchasing individual reports.
                </p>
              </div>
            </div>
            <div class="media key-features">
              <div class="media-body content">
                <h2 class="offer-title">
                  Profile plus report</h2>
                <p>This is a detailed report that includes a listing of a company's registration information, trade and
                  payment trends, days beyond terms, and full Uniform Commercial Code (UCC) filing information. This
                  report can help you, your customers, partners, and investors to understand insights into your
                  business’s credit file.
                </p>
              </div>
            </div>
            <div class="media key-features">
              <div class="media-body content">
                <h2 class="offer-title">
                  Credit Score Report</h2>
                <p>This is a detailed report that consists of business registration information, collection, payments,
                  and business credit score that determines the creditworthiness of the business.
                </p>
              </div>
            </div>
            <div class="media key-features">
              <div class="media-body content">
                <h2 class="offer-title">
                  Reports Analysis</h2>
                <p>We always provide people a complete solution focused of any business.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End  services-area -->
{% endblock content %}